/* font-family: 'Anton', sans-serif;
font-family: 'Boogaloo', cursive; */

body {
    font-family: 'Boogaloo', cursive;
}

.score {
    display: flex;
    flex-direction: row;
    /* flex-direction: row; */
    justify-content: space-evenly;
    align-items: center;
    font-size: 35px;
    background-color: blue;
    color: white;
    padding: 25px 0;
}
.title {
}
.scoreValue {
}
.instructionSection {
display: flex;
}
.insTitle {
font-size: 44px;

}
.instructions {
font-size: 35px ;
padding: 50px 20px;
text-align: center;
}
.new-game {
    font-size: 20px;
    margin:0 auto;
    display:block;
}

.main-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 60px 100px 100px 100px 100px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    /* /* justify-content: space-evenly; */
    text-align: center;
    font-size: 35px;
    padding: 50px 0 0 0;


}
.cat-tile{
    background-color: blue;
    padding: 10px;    color: white;

}
div.divId{
    display: flex;  
    background-color: blue;
    /* padding: 10px; */
    color: gold;
    font-size: 40px;
    align-items: center;
    justify-content: center;
   

}