/* font-family: 'Anton', sans-serif;
font-family: 'Boogaloo', cursive; */

body {
    font-family: 'Boogaloo', cursive;}
button {
    font-size: 20px;
}

.main-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 80px 200px 200px 200px;
    justify-content: space-evenly;
    text-align: center;
    font-size: 35px;

}
div.tile {
    background-color: blue;
}

