/* font-family: 'Anton', sans-serif;
font-family: 'Boogaloo', cursive; */

body {
    font-family: 'Boogaloo', cursive;
}
header {

}
.score {
    display: flex;
    flex-direction: row;
    /* flex-direction: row; */
    justify-content: space-evenly;
    font-size: 35px;
}
.title {
}
.scoreValue {
}
.instructionSection {
    text-align: center;
    padding: 50px 0 0 0;
}
.insTitle {
font-size: 44px;
}
.instructions {
font-size: 35px ;
}
button {
    font-size: 20px;
}


.main-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 60px 100px 100px 100px 100px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    /* /* justify-content: space-evenly; */
    text-align: center;
    font-size: 35px;
    padding: 50px 0 0 0;


}
.cat-tile{
    background-color: blue;
    padding: 10px;    color: white;

}
div.divId{
    background-color: blue;
    padding: 10px;
    color: gold;

}